*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 76%;
	min-width: 1024px;
	color: #333333;
}
a{
	color: #0095DD;
	text-decoration: none;
}
a:hover{
	color: #369;
	text-decoration: none;
}

.main{
	width: 960px;
	margin: auto;
}

h2.example_title{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.50em;
	font-weight: 400;
}
p.example_desc{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.17em;
	font-weight: 400;
	padding-bottom: 10px;
}
h2.main_title{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.67em;
	font-weight: 400;
	padding: 25px 0 15px 0;
	color: #0095DD;
}
ul li{
	font-size: 1.17em;
	margin: 0 0 0 15px;
}

.dummy{
	
	padding: 15px;
	background: #F2F5F7;
	border: 1px solid #EAEFF2;
	margin-bottom: 25px;
}
.dummy p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.08em;
}

/* HEADER */
#header{
	width: 100%;
	padding: 2.50em 0;
}
#header h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 2.50em;
	font-weight: 300;
	text-align: center;
	padding: 0 0 15px 0;
}
#header #download{
	display: block;
	margin: 0 auto;
	font-size: 1.33em;
	font-weight: 300;
	width: 215px;
	padding: 8px 0px;
	color: #ffffff;
	text-align: center;
	background: #558CBD;

	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#header #download:hover{
	text-decoration: none;
	background: #3265CB;

	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
#header p{
	font-family: 'Open Sans', sans-serif;
	width: 550px;
	margin: 0 auto;
	padding: 0 0 20px 0;
	font-size: 1.33em;
	font-weight: 300;
	color: #484848;
}

/* FOOTER */
#footer{
	padding: 2.50em 0;	
}
#footer p{
	font-size: 1.00em;
	font-weight: 300;
	color: #484848;
}

/* pre element */
pre {
	width: 910px;
	overflow-x: auto;
	padding: 20px 25px;
	margin-bottom: 25px;
	font-size: 1.17em;
	color: #454545;
	background-color: #F5F7F7;
	background-image: url(../images/blueprint-dark.png);
	background-repeat: repeat;
	border-left: 5px solid #558CBD;
}
pre .line-number {
	font-size: 0.90em;
	float: left;
  	margin: 0 1em 0 -1em;
  	border-right: 1px solid #ccc;
  	text-align: right;
  	color: #708090;
}
pre .line-number span {
  	display: block;
  	padding: 0 0.5em 0 1em;
}
pre .cl {
  	display: block;
  	clear: both;
}
pre span.comment { color:#708090; }
pre span.highlight { font-weight:bold; }
pre span.declare { color:#0095DD; }
pre span.string { color:#690; }
pre span.bool { color:#B80000; }